[package]
name = "electionguard"
version = "0.1.0"
edition = "2021"
publish = false

[dependencies]
anyhow = "1.0.70"
clap = { version = "4.3.3", features = ["derive", "env"] }
rand_core = { version = "0.6.4", features = ["getrandom"] }

eg = { path = "../eg" }
util = { path = "../util" }
preencrypted = { path = "../preencrypted" }
# verifier = { path = "../verifier" }
chrono = { version = "0.4.34", features = ["serde"] }
