[package]
name = "eg"
version = "0.1.0"
edition = "2021"
publish = false

[dependencies]
digest = "0.10"
hmac = "0.12"
itertools = "0.12"
lazy_static = "1.4"
num-bigint = "0.4"
num-traits = "0.2"
serde = { version = "1.0", features = ["derive"] }
serde_json = "1.0"
sha2 = "0.10"
static_assertions = "1.1.0"
thiserror = "1.0"
util = { path = "../util" }
base64 = "0.21.2"

# For testing
anyhow = "1.0"
hex-literal = "0.4"